<nav class="navbar navbar-expand-lg navbar-custom">
	<div class="container">
		<a class="navbar-brand nav-link-custom" href="#">Título</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link nav-link-custom" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-link-custom" href="#">Estado de
						cuenta</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-link-custom" href="#">Transferir</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<main class="container">
	<h1 class="my-5 page-title">Estado de cuenta, {{usuario}}!</h1>
	{{#if error}}
		<div class="alert alert-danger" role="alert">
			{{error}}
		</div>
	{{else}}
		<p class="lead">Saldo: ${{saldo}}</p>
	{{/if}}

	<!-- Aquí empieza la tabla de transferencias -->
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Emisor</th>
				<th scope="col">Receptor</th>
				<th scope="col">Monto</th>
				<th scope="col">Fecha</th>
				<th scope="col">Descripción</th>
			</tr>
		</thead>
		<tbody>
			{{#each transferencias}}
				<tr>
					<th scope="row">{{@index}}</th>
					<td>{{this.emisor_id}}</td>
					<td>{{this.receptor_id}}</td>
					<td>{{this.monto}}</td>
					<td>{{this.fecha}}</td>
					<td>{{this.descripcion}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	<!-- Aquí termina la tabla de transferencias -->
</main>